@import url(' https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');



footer {
    text-align: center;
    height: 10vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    bottom: 50px;
    position: fixed;
    width: 100%;
}